<div class="input{{#if error}} input_error{{/if}}">
    <label class="input__container">
        <input
            class="input__element"
            name="{{ name }}"
            placeholder="{{ placeholder }}"
            type="{{#if password}}password{{else}}text{{/if }}"
            value="{{ value }}"
        />
        <span class="input__label">{{ label }}</span>
        {{#if error-text }}<span class="input__text-error">{{ error-text }}</span>{{/if}}
    </label>
</div>